@font-face {
    font-family: 'Myriad Pro';
    src: url('/fonts/MYRIAD\ PRO\ REGULAR.TTF');
}
@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('/fonts/MYRIAD\ PRO\ BOLD.TTF');
}
@font-face {
    font-family: 'Tahoma';
    src: url('/fonts/TAHOMA.TTF');
}

div.nav-bar{
    width: 100%;
    height: 80px;
    background-color: #2e2e2e;
    border-bottom: 3px solid #5a5a5a;
    border-radius: 0 0 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
h1.nb-site-name{
    font-family: 'Myriad Pro Bold' !important;
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}
color.nb-weeb-color {
    color: #971212;
    text-shadow: 0px 0px 1.5px #fff;
}
div.nb-titles{
    float: left;
    padding: auto;
    margin: 23px 0 0 20px;
    font-family: 'Tahoma' !important;
    text-shadow: #000;
}
div.nb-logo{
    float: left;
    padding: 18px 0 0 9px;
    width: 48px;
    height: 48px;
}
img.nb-logo{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
div.nb-links{
    width: 50%;
    height: 100%;
    margin-left: 250px; 
}
button.nb-link{
    font-family: 'Myriad Pro' !important;
    font-size: 20px;
    color: #fff;
    background-color: #00000000;
    width: 150px;
    height: 100%;
    border-style: solid;
    border-color: #00000000 #00000000 #fff #00000000;
    border-width: 0px;
}
button.nb-link:not(:hover) {
    transition: 0.5s;
}
button.nb-link:hover{
    background-color: #4e4e4e;
    border-width: 3px;
    transition: 0.5s;
    cursor: pointer;
}